.list_reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    justify-content: space-between;
}

.list_reviews_text {
    font-size: 12px;
    border-top: 1px solid white;
}